<header class="header content-header">
    <div class="logo-content" style="margin-left: 10%; ">

      <img src="../assets/logo.png" alt="logo image" />  

    <div>
    <span class="add-text content-add">ADDRESS</span>
    <span class="add-text content-book">BOOK</span>      
  </div>

  <div class="buttonsdiv" style="margin-left: 110%;cursor: pointer;"> 
    <button mat-raised-button  style="background-color: #27b0d6; color: white" class="header-buttons" id="submitButton" > <mat-icon>person_add</mat-icon>REGISTER </button> 
    <button mat-raised-button color="primary"  class="header-buttons"> <mat-icon>subdirectory_arrow_right</mat-icon> LOGIN </button> 
   </div>

  </div>
  </header>
  